.wrapper {
  --search-height: 46px;
  --search-button-width: 52px;
  --search-button-font-size: 1.8rem;

  display: flex;
  justify-content: center;
  height: 60px;
}
.inner {
  padding: 0 20px;
  width: 1150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
}
.logo {
  width: 300px;

  img {
    width: 118px;
    height: 42px;
  }
}

.icon {
  margin-left: 16px;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

.actions {
  display: inline-flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-left: 24px;
  border-radius: 999px;
  cursor: pointer;
}

.more-btn {
  width: 20px;
  height: 20px;
  margin-left: 16px;
  padding: 0 4px;
  cursor: pointer;
}

.search-title {
  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}
